body {
  background-color: #262626;

    margin:0; padding:1;
    overflow-x:hidden;
    height:100%;
    font-family: 'Lato', Helvetica, arial, sans-serif;
    text-align: center;
    font-size: 25px;
    line-height: 1.45;
    color: #eee;
    color: rgba(255,255,255,.85);
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.showTable a {
  background-color: rgba(120,120,120,.25);
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.showTable a:hover {
  background-color: #ddd;
  color: black;
}

#container {
    padding-top: 50px;
}
#content {
    padding:10px;
    margin: 0 auto;
}
h1 {
    font-size: 4.8em;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0.5;
}

h2 {
    font-size: 4em;
    font-weight: 100;
    margin: 0.2;
}

h3 {
    font-size: 2.4em;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-top: 5px;
  }

  th, td {
    text-align: center;
    padding: 8px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
  }

  th {
    background-color: #0044aa;
    color: white;
    text-align: center;
  }

  td {
    background-color: rgba(128, 128, 128, .25);
    color: white;
    text-align: right;
  }


  .margin-positive {
    color: darkgreen; /* Color for positive margin */
    background-color: palegreen;
    padding: 4px;
    margin-right: 4px;
    font-size: 18px;
  }

  .margin-negative {
    color: darkred; /* Color for negative margin */
    background-color: mistyrose;
    padding: 4px;
    margin-right: 4px;
    font-size: 18px;
  }

  .coin {
    background-color: rgba(128,128,128,.25);
  }
  .sell {
    background-color: rgba(255,0,0,.25);
  }
  .buy {
    background-color: rgba(0,255,0,.25);
  }

  .main {
    width: 50vw;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 1);
    color: white;
  }

.transactionnav {
  display: flex;
  align-items: center;
  float: left;
}

.editnav {
  display: flex;
  align-items: center;
  float: right;
}

a:link, a:visited {
  background-color: rgba(120, 120, 120, 0.25);
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;  /* Remove default margin to reduce space */
}

a:hover, a:active {
  background-color: rgba(140, 140, 140, 0.25);
}

/* Style the Edit button */
a.edit:link, a.edit:visited {
  background-color: grey;
}

a.edit:hover, a.edit:active {
  background-color: darkgrey;
}

/* Style the Remove button */
form.delete input[type="submit"] {
  background-color: red;
}

form.delete input[type="submit"]:hover,
form.delete input[type="submit"]:active {
  background-color: darkred;
}


label {
  font-size: 25px;
  }

input {
  font-size: 25px;
  color: white;
  padding: 5px 11px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: rgba(140,140,140,.25);
  color: white;
  font-size: 25px;
}

html { font-size: 62.5%; }
body { font-size: 1em;}