{% extends "crypto/crypto_topnav.html" %}

{% block content %}

<div id="binance-api" style="width:50%; float: left;">
    <h2>binance-api : {{'%0.2f'| format(bin_bal|float)}}</h2>
    <table id="binance-api" style="width:90%; margin-left: auto; margin-right: auto;">
            <thead>
            <tr>
                <th>Asset</th>
                <th>Amount</th>
                <th>USD</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in binance.items() %}
            <tr>
                <td style="background-color:blue;">{{value["asset"]}}</td>
                <td style="background-color: rgba(128,128,128,.25);"><b>{{'%0.6f'| format(value["amount"]|float)}}</b></td>
                <td style="background-color: rgba(128,128,128,.25);"><b>{{'%0.2f'| format(value["usd"]|float)}} $</b></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% for n, t in others.items() %}
    <div id={{n}} style="width:50%; float: left;">
        <h2>{{n}} : {{'%0.2f'| format(oth_bal[n]|float)}}</h2>
        <table id="{{n}}" style="width:90%; margin-left: auto; margin-right: auto;">
                <thead>
                <tr>
                    <th>Asset</th>
                    <th>Amount</th>
                    <th>USD</th>
                    <th><a href="add/{{n}}">Add new</a></th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in t.items() %}
                <tr>
                    <td style="background-color:blue;">{{value["asset"]}}</td>
                    <td style="background-color: rgba(128,128,128,.25);"><b>{{'%0.6f'| format(value["amount"]|float)}}</b></td>
                    <td style="background-color: rgba(128,128,128,.25);"><b>{{'%0.2f'| format(value["usd"]|float)}} $</b></td>
                    <td style="background-color: rgba(128,128,128,.25);"><a href="update/{{n}}/{{value['asset']}}">Edit</a><a href="delete/{{n}}/{{value['asset']}}" style="background-color:red;">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}

{% endblock %}