{% extends "crypto/crypto_topnav.html" %}
{% import "macros.html" as macros %}

{% block content %}
<h1>Add a portfolio value</h1>
<div class="main">
<form action="/crypto/deposit/pf/add/" method="POST">
    <label for="amount">Enter the amount: </label>
    <input type="number" step="0.01" id="amount" name="amount"><br>
    <label for="price">Enter the date: </label>
    <input type="date" min="2010-01-01" id="date" name="date" value={{last_value}}><br>
    <input type="submit" value="Add">
</form>
</div>

<h1>Calculator</h1>
<div class="container">
    <div class="main">
        {{macros.converter()}}
    </div>
</div>
{% endblock %}