{% extends "crypto/crypto_topnav.html" %}
{% import "macros.html" as macros %}

{% block content %}

    <h1>
        <div style='float:center;'>
          Crypto
        </div>
    </h1>
    <table style="width: 100%;">
        <colgroup>
            <col class="coin"/>
            <col class="coin"/>
            <col class="coin"/>
            <col class="buy"/>
            <col class="buy"/>
            <col class="coin"/>
            <col class="sell"/>
            <col class="sell"/>
        </colgroup>
        <tr>
            <th>Coin</th>
            <th>Price</th>
            <th>Total bought</th>
            <th>Mean bought</th>
            <th>Buy</th>
            <th>Total sold</th>
            <th>Mean sold</th>
            <th>Sell</th>
        </tr>
        {% for value in coins %}
            {{macros.display_coin(value)}}
        {% endfor %}
    </table>

{% endblock %}
