{% extends "topnav.html" %}

{% block content %}

    <table>
        <colgroup>
            <col class="coin"/>
            <col class="coin"/>
            <col class="coin"/>
            <col class="buy"/>
            <col class="coin"/>
            <col class="sell"/>
        </colgroup>
        <tr>
            <th>
                <a href="{{ url_for('create_coin') }}">
                    Add
                </a></th>
            <th>Price</th>
            <th>Total bought</th>
            <th>Mean bought</th>
            <th>Total sold</th>
            <th>Mean sold</th>
        </tr>
        {% for value in coins %}
        <tr>
            <td>
              <div class="transactionnav">
                <a href="/crypto/coin/{{value.id}}">{{value.coin}}</a>
              </div>
              <div class="editnav">
                <a class="edit" href="{{ url_for('update_coin', id=value.id) }}">✎</a>
                <form class="delete" action="{{ url_for('delete_coin', id=value.id) }}" method="post">
                  <input type="submit" value="🗑" onclick="return confirmDelete('{{value.coin}}');">
                </form>
              </div>
            </td>

            <td>{{value.getPrice()}}$</td>

            <td>{{value.getBuyTotal()}}$</td>

            <td>
              <b>{{value.getBuyMean()}}$</b>
              <span class="{% if value.getBuyMargin() >= 0 %}margin-positive{% else %}margin-negative{% endif %}">
                {{value.getBuyMargin()}}%
              </span>
              <a href="{{ url_for('add_buy_order', id=value.id) }}">+</a>
            </td>

            <td>{{value.getSellTotal()}}$</td>

            <td>
              <b>{{value.getSellMean()}}$</b>
              <span class="{% if value.getSellMargin() >= 0 %}margin-positive{% else %}margin-negative{% endif %}">
                {{value.getSellMargin()}}%
              </span>
              <a href="{{ url_for('add_sell_order', id=value.id) }}">+</a>
            </td>

        </tr>
        {% endfor %}
    </table>

<script>
    function confirmDelete(coin) {
        return confirm("Are you sure you want to delete ${coin} ?");
    }
</script>

{% endblock %}
