{% extends "topnav.html" %}

{% block content %}
    <h1>Update {{coin.coin}}</h1>
    <form method="post">
        <label for="total_bought">Total Bought:</label>
        <input type="number" name="total_bought" value="{{coin.total_bought}}" required><br>
        <label for="mean_bought">Mean Bought:</label>
        <input type="number" name="mean_bought" value="{{coin.mean_bought}}" required><br>
        <label for="total_sold">Total Sold:</label>
        <input type="number" name="total_sold" value="{{coin.total_sold}}" required><br>
        <label for="mean_sold">Mean Sold:</label>
        <input type="number" name="mean_sold" value="{{coin.mean_sold}}" required><br>
        <label for="last_tr_total">Last Transaction Total:</label>
        <input type="number" name="last_tr_total" value="{{coin.last_tr_total}}" required><br>
        <label for="last_tr_mean">Last Transaction Mean:</label>
        <input type="number" name="last_tr_mean" value="{{coin.last_tr_mean}}" required><br>
        <input type="submit" value="Create">
    </form>
    <a href="{{ url_for('list_coins') }}">Back to Coins</a>
{% endblock %}
